{
  "openapi": "3.0.1",
  "info": {
    "title": "DhanHQ API"
  },
  "servers": [
    {
      "url": "https://api.dhan.co/v2",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/ip/modifyIP": {
      "put": {
        "tags": [
          "IP Setup"
        ],
        "summary": "modify the static IP",
        "description": "You can use this API to modify the Primary & Secondary IP for your account. You can modify the set IP only once in a specified period",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v2/"
        },
        "operationId": "modifyIP",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIPRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserIPResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ip/setIP": {
      "post": {
        "tags": [
          "IP Setup"
        ],
        "summary": "static IP Setup",
        "description": "You can use this API to set the Primary & Secondary IP to be mapped to your account in order to enable Order Placement.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v2/"
        },
        "operationId": "setIP",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIPRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserIPResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ip/getIP": {
      "get": {
        "tags": [
          "IP Setup"
        ],
        "summary": "get the static IP",
        "description": "Fetch the current Primary & Secondary IP for your account.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v2/"
        },
        "operationId": "getIP",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIPDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order-id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "get order by id",
        "description": "The api allows you to retrieve the details of an order placed during the day with their last updated status, with their order id.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "getorderbyorderid",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "modify pending order",
        "description": "The api allows you modify pending order in orderbook. The fields that can be modified are price, quantity, order type & validity.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "modifyorder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderModifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "cancel given order",
        "description": "The api allows you to cancel a pending order using the order id",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "cancelorder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "get current orders list",
        "description": "The API lets you retrieve an array of all orders requested in a day with their last updated status.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "getorders",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "place an order",
        "description": "The order request API allows you to place new order.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "placeorder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/slicing": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "place slice order",
        "description": "The order request API allows you to place a new slice order.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "placesliceorder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderStatusResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trades": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "get all trades",
        "description": "The api allows you retrieve an array of all trades executed in a day.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "getalltrades",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TradeResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trades/{order-id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "get trade by order id",
        "description": "The api allows user to retrieve trade details using an order id. Often during partial trades or Bracket/ Cover Orders, traders get confused in reading trade from tradebook. The response of this API will include all the trades generated for a particular order id.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "gettradebyorderid",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TradeResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trades/{from-date}/{to-date}/{page-number}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "get trade history",
        "description": "The api allows user to retrieve the trade history Often during partial trades or Bracket/ Cover Orders, traders get confused in reading trade from tradebook. The response of the api will include all the trades generated for a particular order id.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "gettradehistory",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from-date",
            "in": "path",
            "description": "date format : yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "description": "date format : yyyy-MM-dd"
            }
          },
          {
            "name": "to-date",
            "in": "path",
            "description": "date format : yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "description": "date format : yyyy-MM-dd"
            }
          },
          {
            "name": "page-number",
            "in": "path",
            "description": "default value : 0 ",
            "required": true,
            "schema": {
              "type": "string",
              "description": "default value : 0 "
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TradeHistoryResponseModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/external/{correlation-id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "get order by correlation id",
        "description": "The api allows you to retrieve the details of an order placed during the day, with its most recent status, using a correlation id provided by the API consumer at the time of order placement. This feature is available in case the user has missed the order id for any reason.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "getorderbycorrelationid",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "correlation-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/super/orders/{order-id}": {
      "put": {
        "tags": [
          "Super Order"
        ],
        "summary": "modify pending super order",
        "description": "This API can be used to modify any leg of a Super Order till it is in PENDING or PART_TRADED state.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "modifysuperorder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuperModifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/super/orders": {
      "get": {
        "tags": [
          "Super Order"
        ],
        "summary": "get current super orders list",
        "description": "The API lets you retrieve an array of all orders with their last updated status along with legdetails.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "getsuperorders",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuperOrderResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Super Order"
        ],
        "summary": "place super order",
        "description": "The order API allows you to place a new order.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "placesuperorder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuperOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/super/orders/{order-id}/{order-leg}": {
      "delete": {
        "tags": [
          "Super Order"
        ],
        "summary": "cancel super order",
        "description": "User can cancel any leg of a super order which is PENDING using this API.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "cancelsuperorder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-id",
            "in": "path",
            "description": "Order ID of the Order being cancelled",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Order ID of the Order being cancelled"
            }
          },
          {
            "name": "order-leg",
            "in": "path",
            "description": "Order Leg to be cancelled",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Order Leg to be cancelled",
              "enum": [
                "ENTRY_LEG",
                "STOP_LOSS_LEG",
                "TARGET_LEG"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alerts/orders/{alertId}": {
      "get": {
        "tags": [
          "Conditional Triggers"
        ],
        "summary": "get conditional trigger by ID",
        "description": "Retrieve the status and detailed conditional triggers for a specific alert order by its unique identification ",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v2/"
        },
        "operationId": "getAlertOrder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAlertResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Conditional Triggers"
        ],
        "summary": "modify conditional trigger",
        "description": "Modify an existing alert order by updating its conditional trigger logic and/or the associated order execution parameters.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v2/"
        },
        "operationId": "modifyAlertOrder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertModifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertOrderResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Conditional Triggers"
        ],
        "summary": "delete conditional trigger",
        "description": "Delete an existing conditional trigger using its unique identifier.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v2/"
        },
        "operationId": "delAlertOrder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alerts/orders": {
      "get": {
        "tags": [
          "Conditional Triggers"
        ],
        "summary": "get all conditional triggers",
        "description": "Retrieve a list of all conditional triggers for the authenticated account, along with their current status and configuration details.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v2/"
        },
        "operationId": "getAllAlertOrders",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAlertResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Conditional Triggers"
        ],
        "summary": "place conditional trigger",
        "description": "The Conditional Trigger (Alerts) API lets you define conditions (price or technical indicators) that, when met, place one or multiple orders automatically on the user’s Dhan account. It supports multiple combinations of indicators and operators along with optional webhook callbacks.  \n**Notes** :\n* Conditions are currently supported only for Equities and Indices. \n* You can receive a postback update by providing a Webhook URL while generating the Access Token.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v2/"
        },
        "operationId": "alertOrder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forever/orders/{order-id}": {
      "put": {
        "tags": [
          "Forever Order"
        ],
        "summary": "modify pending forever order",
        "description": "The api allows you to modify pending forever order in orderbook. The fields that can be modified are price, quantity and order type.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "modifyforeverorder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GttModifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GttOrderStatusResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Forever Order"
        ],
        "summary": "cancel given forever order",
        "description": "The api allows you to cancel existing forever order.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "cancelforeverorder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GttOrderStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forever/orders": {
      "get": {
        "tags": [
          "Forever Order"
        ],
        "summary": "get forever orders list",
        "description": "The api allows you to retrieve an array of all forever orders placed with their last updated status.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "getforeverorders",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GttOrderResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Forever Order"
        ],
        "summary": "place forever order",
        "description": "The order request api allows you place a new forever order.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "placeforeverorder",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GTTOrderModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GttOrderStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/positions/convert": {
      "post": {
        "tags": [
          "Positions & Portfolio"
        ],
        "summary": "convert position",
        "description": "Users can convert their open position from intraday to delivery or delivery to intraday.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "convertposition",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionConversionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful operation",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/positions": {
      "get": {
        "tags": [
          "Positions & Portfolio"
        ],
        "summary": "get current positions",
        "description": "Users can retrieve a list of all open positions for the day. This includes all F&O carryforward positions as well.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "getpositions",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PositionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Positions & Portfolio"
        ],
        "summary": "exit all position",
        "description": "The Exit All Position API allows users to exit all active positions and cancel all open orders for the authenticated account.\nNote: All open orders and positions are exited for the current trading day only.\n",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "orderExitAll",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserIPResponse"
                }
              }
            }
          }
        }
      }
    },
    "/holdings": {
      "get": {
        "tags": [
          "Positions & Portfolio"
        ],
        "summary": "get current holdings",
        "description": "Users can retrieve all holdings bought/sold in previous trading sessions. All T1 and delivered quantities can be fetched.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "getholdings",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HoldingResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/edis/form": {
      "post": {
        "tags": [
          "EDIS"
        ],
        "summary": "generate edis form",
        "description": "Retrieve escaped html form of CDSL and enter T-PIN to mark the stock for EDIS approval. Partner has to render this form at their end to unescape.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "edisform",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EdisFormRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdisFormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/edis/bulkform": {
      "post": {
        "tags": [
          "EDIS"
        ],
        "summary": "generate bulk edis form",
        "description": "Retrieve escaped html form of CDSL and enter T-PIN to mark the stock for EDIS approval. Partner has to render this form at their end to unescape.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "bulkedisform",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EdisBulkFormRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdisFormResponse"
                }
              }
            }
          }
        }
      }
    },
    "/edis/tpin": {
      "get": {
        "tags": [
          "EDIS"
        ],
        "summary": "generate edis T-pin",
        "description": "Get T-pin on registered mobile number using this API.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "edistpin",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/edis/inquire/{isin}": {
      "get": {
        "tags": [
          "EDIS"
        ],
        "summary": "get edis authorized quantity",
        "description": "The api allows user to check the edis status of the securities. User have to enter isin of the stock. An international securities identification number (ISIN) is a 12-digit alphanumeric code that uniquely identifies a specific security. You can get ISIN of portfolio stocks, in response of holdings api.Or use ALL as a special case to query all holdings' edis auth status",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "edisqtystatus",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdisQtyStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pnlExit": {
      "get": {
        "tags": [
          "Trader's Control"
        ],
        "summary": "get P&L based exit ",
        "description": "The Get P&L Based Exit API allows users to fetch the currently active P&L based exit configuration, including profit/loss thresholds and exit behavior.  \n **Notes** :\nReturns the active P&L based exit configuration for the current trading day, if any ",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "getPnlExit",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExitPnlResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trader's Control"
        ],
        "summary": "P&L based exit ",
        "description": "The P&L Based Exit API allows users to configure automatic exit rules based on cumulative profit or loss thresholds. When the defined limits are breached, all applicable positions are exited.  \n**Notes** :\n The configured P&L based exit remains active for the current trading day and is reset at the end of the session\n",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "pnlExit",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PnlBasedExitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PnlExitResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Trader's Control"
        ],
        "summary": "stop P&L based exit ",
        "description": "The Stop P&L Based Exit API allows users to disable an active P&L based exit configuration. Once stopped, no automatic exits will be triggered based on profit or loss thresholds.  \n**Notes** :\nDisabling the P&L based exit applies only to the current trading day.\n",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "stopPnlExit",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserIPResponse"
                }
              }
            }
          }
        }
      }
    },
    "/killswitch": {
      "get": {
        "tags": [
          "Trader's Control"
        ],
        "summary": "kill switch status",
        "description": "The api allows you to check  killSwitch status for your account, which will disable trading for current trading day",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "KillSwitchStatus",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KillSwitchResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Trader's Control"
        ],
        "summary": "manage kill switch",
        "description": "The api allows you to control killSwitch for your account, which will disable trading for current trading day",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "killswitch",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "killSwitchStatus",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KillSwitchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/margincalculator": {
      "post": {
        "tags": [
          "Funds & Margin"
        ],
        "summary": "margin calculator",
        "description": "Margin Calculation API lets you calculate span, exposure, var, brokerage, leverage, available  margin values for any type of order and instrument.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "margincalculator",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowYourMarginReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowYourMarginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/margincalculator/multi": {
      "post": {
        "tags": [
          "Funds & Margin"
        ],
        "summary": "multi order margin calculator",
        "description": "The Multi Order Margin Calculator API allows users to calculate margin requirements for multiple scripts in a single request, including span, exposure, equity, FO, and commodity margins.  \n**Notes** :\nMargin values returned are indicative and valid only for the current trading session.\n",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "margincalculatormulti",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiScripMarginCalcRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiScripMarginCalcResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fundlimit": {
      "get": {
        "tags": [
          "Funds & Margin"
        ],
        "summary": "get fund limit details",
        "description": "Get all information of your trading account like balance, margin utilised, collateral, etc.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "fundlimit",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundLimitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ledger": {
      "get": {
        "tags": [
          "Statements"
        ],
        "summary": "get ledger report",
        "description": "The api allows user to fetch trading account ledger with all credit and debit transaction details",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "ledger",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from-date",
            "in": "query",
            "description": "date format : yyyy-MM-dd",
            "required": false,
            "schema": {
              "type": "string",
              "description": "date format : yyyy-MM-dd"
            }
          },
          {
            "name": "to-date",
            "in": "query",
            "description": "date format : yyyy-MM-dd",
            "required": false,
            "schema": {
              "type": "string",
              "description": "date format : yyyy-MM-dd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoLedgerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/charts/rollingoption": {
      "post": {
        "tags": [
          "Data API's"
        ],
        "summary": "fetch expired option data",
        "description": "Fetch minute-wise rolling option chart data of expired contracts - including OHLC, volume, IV based on strike.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v2/"
        },
        "operationId": "optionchart",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptionChartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionChartResponse"
                }
              }
            }
          }
        }
      }
    },
    "/charts/intraday": {
      "post": {
        "tags": [
          "Data API's"
        ],
        "summary": "fetch OHLC for minute timeframe",
        "description": "Retrieve OHLC & Volume of minute candle for desired instrument for current day. This data available for all segments including futures & options.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "intradaycharts",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntradayChartsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/charts/historical": {
      "post": {
        "tags": [
          "Data API's"
        ],
        "summary": "fetch OHLC for daily candle",
        "description": "Retrieve OHLC & Volume of daily candle for desired instrument. The data for any scrip is available back upto the date of its inception.",
        "externalDocs": {
          "description": "please refer the link for detailed docs",
          "url": "https://dhanhq.co/docs/v1/"
        },
        "operationId": "historicalcharts",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HistoricalChartsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SuperModifyRequest": {
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "orderId": {
            "type": "string",
            "description": "Order specific identification generated by Dhan"
          },
          "orderType": {
            "type": "string",
            "description": "| **Enum Values**  | **Description**             |\n|------------------|-----------------------------|\n| LIMIT            | For Limit Order types       |\n| MARKET           | For market Order types      |",
            "enum": [
              "LIMIT",
              "MARKET"
            ]
          },
          "legName": {
            "type": "string",
            "description": "ENTRY_LEG - Entire Super Order can be modified, only when main order status is `PENDING`, TARGET_LEG STOP_LOSS_LEG",
            "enum": [
              "ENTRY_LEG",
              "STOP_LOSS_LEG",
              "TARGET_LEG"
            ]
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity to be modified - only for ENTRY_LEG",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "description": "Price to be modified - only for ENTRY_LEG",
            "format": "float"
          },
          "targetPrice": {
            "type": "number",
            "description": "Target Price to be modified - ENTRY_LEG or TARGET_LEG",
            "format": "float"
          },
          "stopLossPrice": {
            "type": "number",
            "description": "Stop Loss Price to be modified - ENTRY_LEG or STOP_LOSS_LEG",
            "format": "float"
          },
          "trailingJump": {
            "type": "number",
            "description": "Stop Loss Price jump to be modified - ENTRY_LEG or STOP_LOSS_LEG",
            "format": "float"
          }
        }
      },
      "OrderStatusResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "Order specific identification generated by Dhan"
          },
          "orderStatus": {
            "type": "string",
            "description": "| **Enum Values** | **Description**                             |\n|-----------------|---------------------------------------------|\n| TRANSIT         | Did not reach the exchange server           |\n| PENDING         | Reached at exchange end, awaiting execution |\n| REJECTED        | Rejected at exchange/broker’s end           |\n| CANCELLED       | Cancelled by user                           |\n| PART_TRADED     | Partially Executed                          |\n| TRADED          | Executed                                    |\n| EXPIRED         | Validity of order is expired                |",
            "enum": [
              "TRANSIT",
              "PENDING",
              "REJECTED",
              "CANCELLED",
              "PART_TRADED",
              "TRADED",
              "EXPIRED",
              "MODIFIED",
              "TRIGGERED",
              "INACTIVE"
            ]
          }
        }
      },
      "OrderModifyRequest": {
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "orderId": {
            "type": "string",
            "description": "Order specific identification generated by Dhan"
          },
          "orderType": {
            "type": "string",
            "description": "| **Enum Values**  | **Description**             |\n|------------------|-----------------------------|\n| LIMIT            | For Limit Order types       |\n| MARKET           | For market Order types      |\n| STOP_LOSS        | For Stop Loss Limit orders  |\n| STOP_LOSS_MARKET | For Stop Loss Market orders |",
            "enum": [
              "LIMIT",
              "MARKET",
              "STOP_LOSS",
              "STOP_LOSS_MARKET"
            ]
          },
          "legName": {
            "type": "string",
            "description": "Order leg where modification is to be done",
            "enum": [
              "ENTRY_LEG",
              "STOP_LOSS_LEG",
              "TARGET_LEG",
              "NA"
            ]
          },
          "quantity": {
            "type": "integer",
            "description": "Number of shares for the order",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "description": "Price at which order is placed",
            "format": "float"
          },
          "disclosedQuantity": {
            "type": "integer",
            "description": "Number of shares visible (Keep more than 30% of quantity)",
            "format": "int32"
          },
          "triggerPrice": {
            "type": "number",
            "description": "Price at which the order is triggered, in case of SL-M & SL-L",
            "format": "float"
          },
          "validity": {
            "type": "string",
            "description": "| **Enum Values** | **Description**       |\n|-----------------|-----------------------|\n| DAY             | Valid till end of day |\n| IOC             | Immediate or Cancel   |",
            "enum": [
              "DAY",
              "IOC"
            ]
          }
        }
      },
      "UserIPRequest": {
        "required": [
          "ip",
          "ipFlag"
        ],
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "ip": {
            "type": "string",
            "description": "User specific IP"
          },
          "ipFlag": {
            "type": "string",
            "description": "| **Enum Values** | **Description** |\n|-----------------|-----------------------------|\n| PRIMARY         | Primary IP          |\n| SECONDARY       | Secondary IP        |"
          }
        }
      },
      "UserIPResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "| **Enum Values** | **Description** |\n|-----------------|----------------|\n| SUCCESS         | Operation was successful |\n| ERROR           | Operation failed |"
          }
        }
      },
      "GttModifyRequest": {
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "orderId": {
            "type": "string",
            "description": "Order specific identification generated by Dhan"
          },
          "orderFlag": {
            "type": "string",
            "description": "| **Enum Values**  | **Description**             |\n|------------------|-----------------------------|\n| SINGLE           | For GTT Order types       |\n| OCO              | For OCO Order types      |",
            "enum": [
              "SINGLE",
              "OCO"
            ]
          },
          "orderType": {
            "type": "string",
            "description": "| **Enum Values**  | **Description**             |\n|------------------|-----------------------------|\n| LIMIT            | For Limit Order types       |\n| MARKET           | For market Order types      |",
            "enum": [
              "LIMIT",
              "MARKET"
            ]
          },
          "legName": {
            "type": "string",
            "description": "| **Enum Values**  | **Description**             |\n|----------------------|-----------------------------------------------|\n| TARGET_LEG           | For Target Leg                                |\n| STOP_LOSS_LEG        | For SL leg, in case of OCO OrderType          |",
            "enum": [
              "TARGET_LEG",
              "STOP_LOSS_LEG"
            ]
          },
          "quantity": {
            "type": "integer",
            "description": "Number of shares for the order",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "description": "Price at which order is placed",
            "format": "float"
          },
          "disclosedQuantity": {
            "type": "integer",
            "description": "Number of shares visible (Keep more than 30% of quantity)",
            "format": "int32"
          },
          "triggerPrice": {
            "type": "number",
            "description": "Price at which the order is triggered, in case of SL-M & SL-L",
            "format": "float"
          },
          "validity": {
            "type": "string",
            "description": "Valid for 1Year/Expiry"
          }
        }
      },
      "GttOrderStatusResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "Order specific identification generated by Dhan"
          },
          "orderStatus": {
            "type": "string",
            "description": "| **Enum Values** | **Description**                             |\n|-----------------|---------------------------------------------|\n| PENDING         | Reached at exchange end, awaiting execution |\n| REJECTED        | Rejected at exchange/broker’s end           |\n| CANCELLED       | Cancelled by user                           |\n| EXPIRED         | Validity of order is expired                |",
            "enum": [
              "PENDING",
              "REJECTED",
              "CANCELLED",
              "EXPIRED"
            ]
          }
        }
      },
      "AlertCondition": {
        "required": [
          "securityId"
        ],
        "type": "object",
        "properties": {
          "comparisonType": {
            "type": "string",
            "description": "Type of comparison",
            "enum": [
              "TECHNICAL_WITH_VALUE",
              "TECHNICAL_WITH_INDICATOR",
              "TECHNICAL_WITH_CLOSE",
              "PRICE_WITH_VALUE"
            ]
          },
          "exchangeSegment": {
            "type": "string",
            "description": "The exchange where the condition is checked",
            "enum": [
              "NSE_EQ",
              "BSE_EQ",
              "IDX_I"
            ]
          },
          "securityId": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Condition security"
          },
          "indicatorName": {
            "type": "string",
            "description": "Name of the indicator",
            "enum": [
              "SMA_5",
              "SMA_10",
              "SMA_20",
              "SMA_50",
              "SMA_100",
              "SMA_200",
              "EMA_5",
              "EMA_10",
              "EMA_20",
              "EMA_50",
              "EMA_100",
              "EMA_200",
              "BB_UPPER",
              "BB_LOWER",
              "RSI_14",
              "ATR_14",
              "STOCHASTIC",
              "STOCHRSI_14",
              "MACD_26",
              "MACD_12",
              "MACD_HIST"
            ]
          },
          "timeFrame": {
            "type": "string",
            "description": "Time frame for technical indicators",
            "enum": [
              "DAY",
              "ONE_MIN",
              "FIVE_MIN",
              "FIFTEEN_MIN"
            ]
          },
          "operator": {
            "type": "string",
            "description": "Comparison operator",
            "enum": [
              "CROSSING_UP",
              "CROSSING_DOWN",
              "CROSSING_ANY_SIDE",
              "GREATER_THAN",
              "LESS_THAN",
              "GREATER_THAN_EQUAL",
              "LESS_THAN_EQUAL",
              "EQUAL",
              "NOT_EQUAL"
            ]
          },
          "comparingValue": {
            "type": "number",
            "description": "Target value for comparison",
            "format": "float"
          },
          "comparingIndicatorName": {
            "type": "string",
            "description": "The technical indicator to compare against when using TechnicalWithIndicator conditions.  \nThis represents the right-hand side (RHS) indicator in a technical comparison   \nFor e.g. SMA_20 crossing above SMA_50",
            "enum": [
              "SMA_5",
              "SMA_10",
              "SMA_20",
              "SMA_50",
              "SMA_100",
              "SMA_200",
              "EMA_5",
              "EMA_10",
              "EMA_20",
              "EMA_50",
              "EMA_100",
              "EMA_200",
              "BB_UPPER",
              "BB_LOWER",
              "RSI_14",
              "ATR_14",
              "STOCHASTIC",
              "STOCHRSI_14",
              "MACD_26",
              "MACD_12",
              "MACD_HIST"
            ]
          },
          "expDate": {
            "type": "string",
            "description": "Expiry date of alert",
            "format": "date"
          },
          "frequency": {
            "type": "string",
            "description": "Evaluation frequency",
            "enum": [
              "ONCE"
            ]
          },
          "userNote": {
            "type": "string",
            "description": "User-provided note  \n For eg. Price crossing SMA"
          }
        },
        "description": "Alert condition details"
      },
      "AlertModifyRequest": {
        "required": [
          "alertId",
          "condition",
          "dhanClientId"
        ],
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "alertId": {
            "type": "string",
            "description": "Unique ID generated by Dhan  \n For eg. \"12345\""
          },
          "condition": {
            "$ref": "#/components/schemas/AlertCondition"
          },
          "orders": {
            "type": "array",
            "description": "List of orders to execute when alert is triggered",
            "items": {
              "$ref": "#/components/schemas/AlertOrder"
            }
          }
        }
      },
      "AlertOrder": {
        "required": [
          "exchangeSegment",
          "orderType",
          "productType",
          "quantity",
          "securityId",
          "transactionType",
          "validity"
        ],
        "type": "object",
        "properties": {
          "transactionType": {
            "type": "string",
            "description": "Type of transaction",
            "enum": [
              "BUY",
              "SELL"
            ]
          },
          "exchangeSegment": {
            "type": "string",
            "description": "The exchange where the transaction takes place",
            "enum": [
              "NSE_EQ",
              "NSE_FNO",
              "NSE_COMM",
              "BSE_EQ",
              "BSE_FNO",
              "MCX_COMM"
            ]
          },
          "productType": {
            "type": "string",
            "description": "Product type",
            "enum": [
              "CNC",
              "INTRADAY",
              "MARGIN",
              "MTF",
              "CO",
              "BO"
            ]
          },
          "orderType": {
            "type": "string",
            "description": "Type of order",
            "enum": [
              "LIMIT",
              "MARKET",
              "STOP_LOSS",
              "STOP_LOSS_MARKET"
            ]
          },
          "securityId": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Unique identifier for the security"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of securities to trade",
            "format": "int32"
          },
          "validity": {
            "type": "string",
            "description": "Order validity",
            "enum": [
              "DAY",
              "IOC"
            ]
          },
          "price": {
            "type": "string",
            "description": "Price per unit  \n For eg. \"250.5\""
          },
          "discQuantity": {
            "type": "string",
            "description": "Disclosed quantity  \n For eg. \"100\""
          },
          "triggerPrice": {
            "type": "string",
            "description": "Trigger price for stop-loss or trigger orders  \n For eg. \"2500.0\""
          }
        },
        "description": "List of orders to execute when alert is triggered"
      },
      "AlertOrderResponse": {
        "type": "object",
        "properties": {
          "alertId": {
            "type": "string",
            "description": "Alert ID generated by Dhan"
          },
          "alertStatus": {
            "type": "string",
            "description": "| **Status**   | **Description**                   |\n|--------------|-----------------------------------|\n| ACTIVE       | Alert is currently active         |\n| TRIGGERED    | Alert condition has been met      |\n| EXPIRED      | Alert expired without triggering  |\n| CANCELLED    | Alert was manually cancelled      |"
          }
        }
      },
      "SuperOrderRequest": {
        "required": [
          "exchangeSegment",
          "transactionType"
        ],
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "correlationId": {
            "maxLength": 30,
            "minLength": 0,
            "type": "string",
            "description": "The user/partner generated id for tracking back"
          },
          "transactionType": {
            "type": "string",
            "description": "The trading side of transaction",
            "enum": [
              "BUY",
              "SELL"
            ]
          },
          "exchangeSegment": {
            "type": "string",
            "description": "| **Enums**    | **Exchange** | **Segment**       |\n|--------------|--------------|-------------------|\n| NSE_EQ       | NSE          | Equity Cash       |\n| NSE_FNO      | NSE          | Futures & Options |\n| NSE_COMM     | NSE          | Commodity |\n| BSE_EQ       | BSE          | Equity Cash       |\n| BSE_FNO      | BSE          | Futures & Options |\n| MCX_COMM     | MCX          | Commodity         |\n",
            "enum": [
              "NSE_EQ",
              "NSE_FNO",
              "NSE_COMM",
              "BSE_EQ",
              "BSE_FNO",
              "MCX_COMM"
            ]
          },
          "productType": {
            "type": "string",
            "description": "| **Enum Values** | **Description**                                |\n|-----------------|------------------------------------------------|\n| CNC             | Cash & Carry for equity deliveries             |\n| INTRADAY        | Intraday for Equity, Futures & Options         |\n| MARGIN          | Carry Forward in Futures & Options             |\n| MTF             | Margin Traded Fund                             |\n",
            "enum": [
              "CNC",
              "INTRADAY",
              "MARGIN",
              "MTF"
            ]
          },
          "orderType": {
            "type": "string",
            "description": "| **Enum Values**  | **Description**             |\n|------------------|-----------------------------|\n| LIMIT            | For Limit Order types       |\n| MARKET           | For market Order types      |",
            "enum": [
              "LIMIT",
              "MARKET"
            ]
          },
          "securityId": {
            "type": "string",
            "description": "Exchange standard identification for each scrip"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of shares for the order",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "description": "Price at which order is placed",
            "format": "float"
          },
          "targetPrice": {
            "type": "number",
            "description": "Target price for the Super Order",
            "format": "float"
          },
          "stopLossPrice": {
            "type": "number",
            "description": "Stop Loss Price for the Super Order",
            "format": "float"
          },
          "trailingJump": {
            "type": "number",
            "description": "Price Jump by which Stop Loss should be trailed",
            "format": "float"
          }
        }
      },
      "PositionConversionRequest": {
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "fromProductType": {
            "type": "string",
            "description": "| **Enum Values** | **Description**                                |\n|-----------------|------------------------------------------------|\n| CNC             | Cash & Carry for equity deliveries             |\n| INTRADAY        | Intraday for Equity, Futures & Options         |\n| MARGIN          | Carry Forward in Futures & Options             |",
            "enum": [
              "CNC",
              "INTRADAY",
              "MARGIN",
              "MTF",
              "CO",
              "BO"
            ]
          },
          "exchangeSegment": {
            "type": "string",
            "description": "| **Enums**    | **Exchange** | **Segment**       |\n|--------------|--------------|-------------------|\n| NSE_EQ       | NSE          | Equity Cash       |\n| NSE_FNO      | NSE          | Futures & Options |\n| BSE_EQ       | BSE          | Equity Cash       |\n| BSE_FNO      | BSE          | Futures & Options |\n| MCX_COMM     | MCX          | Commodity         |\n",
            "enum": [
              "NSE_EQ",
              "NSE_FNO",
              "BSE_EQ",
              "BSE_FNO",
              "MCX_COMM"
            ]
          },
          "positionType": {
            "type": "string",
            "description": "| **Enum Values** | **Description**                                     |\n|-----------------|-----------------------------------------------------|\n| LONG            | When net bought quantity is more than sold quantity |\n| SHORT           | When net sold quantity is more than bought quantity |\n| CLOSED          | When no open position standing                      |",
            "enum": [
              "LONG",
              "SHORT",
              "CLOSED"
            ]
          },
          "securityId": {
            "type": "string",
            "description": "Exchange standard identification for each scrip"
          },
          "convertQty": {
            "type": "integer",
            "description": "Number of shares for the conversion",
            "format": "int32"
          },
          "toProductType": {
            "type": "string",
            "description": "| **Enum Values** | **Description**                                |\n|-----------------|------------------------------------------------|\n| CNC             | Cash & Carry for equity deliveries             |\n| INTRADAY        | Intraday for Equity, Futures & Options         |\n| MARGIN          | Carry Forward in Futures & Options             |",
            "enum": [
              "CNC",
              "INTRADAY",
              "MARGIN",
              "MTF",
              "CO",
              "BO"
            ]
          }
        }
      },
      "PnlBasedExitRequest": {
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "profitValue": {
            "type": "number",
            "description": "User-defined target profit amount for the PNL exit",
            "format": "float"
          },
          "lossValue": {
            "type": "number",
            "description": "User-defined target loss amount for the PNL exit",
            "format": "float"
          },
          "enableKillSwitch": {
            "type": "boolean",
            "description": "Indicates if the kill switch is enabled for this PNL exit",
            "default": false
          },
          "productType": {
            "type": "array",
            "description": "| **Enum Values** | **Description** |\n|-----------------|----------------|\n| INTRADAY         | Intraday for Equity, Futures & Options |\n| DELIVERY         | Delivery for equity deliveries |",
            "items": {
              "type": "string",
              "description": "| **Enum Values** | **Description** |\n|-----------------|----------------|\n| INTRADAY         | Intraday for Equity, Futures & Options |\n| DELIVERY         | Delivery for equity deliveries |"
            }
          }
        }
      },
      "PnlExitResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "pnlExitStatus": {
            "type": "string",
            "description": "| **Enum Values** | **Description** |\n|-----------------|----------------|\n| ACTIVE         | P&L based exit configured successfully |\n| INACTIVE       | No active P&L based exit configured for the current trading day |"
          }
        }
      },
      "OrderRequest": {
        "required": [
          "exchangeSegment",
          "transactionType"
        ],
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "correlationId": {
            "maxLength": 30,
            "minLength": 0,
            "type": "string",
            "description": "The user/partner generated id for tracking back"
          },
          "transactionType": {
            "type": "string",
            "description": "Signifies the type of transaction whether it's BUY or SELL",
            "enum": [
              "BUY",
              "SELL"
            ]
          },
          "exchangeSegment": {
            "type": "string",
            "description": "| **Enums**    | **Exchange** | **Segment**       |\n|--------------|--------------|-------------------|\n| NSE_EQ       | NSE          | Equity Cash       |\n| NSE_FNO      | NSE          | Futures & Options |\n| NSE_COMM      | NSE          | Commodity |\n| BSE_EQ       | BSE          | Equity Cash       |\n| BSE_FNO      | BSE          | Futures & Options |\n| MCX_COMM     | MCX          | Commodity         |\n",
            "enum": [
              "NSE_EQ",
              "NSE_FNO",
              "NSE_COMM",
              "BSE_EQ",
              "BSE_FNO",
              "MCX_COMM"
            ]
          },
          "productType": {
            "type": "string",
            "description": "| **Enum Values** | **Description**                                |\n|-----------------|------------------------------------------------|\n| CNC             | Cash & Carry for equity deliveries             |\n| INTRADAY        | Intraday for Equity, Futures & Options         |\n| MARGIN          | Carry Forward in Futures & Options             |\n| CO              | Cover Order; entry and stop loss               |\n| BO              | Bracket Order; entry, stop loss & target price |\n| MTF             | Margin Traded Fund                             |\n**CO & BO product types will be valid only for Intraday**",
            "enum": [
              "CNC",
              "INTRADAY",
              "MARGIN",
              "MTF",
              "CO",
              "BO"
            ]
          },
          "orderType": {
            "type": "string",
            "description": "| **Enum Values**  | **Description**             |\n|------------------|-----------------------------|\n| LIMIT            | For Limit Order types       |\n| MARKET           | For market Order types      |\n| STOP_LOSS        | For Stop Loss Limit orders  |\n| STOP_LOSS_MARKET | For Stop Loss Market orders |",
            "enum": [
              "LIMIT",
              "MARKET",
              "STOP_LOSS",
              "STOP_LOSS_MARKET"
            ]
          },
          "validity": {
            "type": "string",
            "description": "| **Enum Values** | **Description**       |\n|-----------------|-----------------------|\n| DAY             | Valid till end of day |\n| IOC             | Immediate or Cancel   |",
            "enum": [
              "DAY",
              "IOC"
            ]
          },
          "securityId": {
            "type": "string",
            "description": "Exchange standard identification for each scrip"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of shares for the order",
            "format": "int32"
          },
          "disclosedQuantity": {
            "type": "integer",
            "description": "Number shares visible in the market depth",
            "format": "int32"
          },
          "price": {
            "type": "number",
            "description": "Price at which the order is requested to execute",
            "format": "float"
          },
          "triggerPrice": {
            "type": "number",
            "description": "Price at which the order is triggered",
            "format": "float"
          },
          "afterMarketOrder": {
            "type": "boolean",
            "description": "Flag to inform that the order placed is After Market Order"
          },
          "amoTime": {
            "type": "string",
            "description": "Flag to inform after what time AMO is pumped",
            "enum": [
              "OPEN",
              "OPEN_30",
              "OPEN_60",
              "PRE_OPEN"
            ]
          },
          "boProfitValue": {
            "type": "number",
            "description": "Bracket order Target price",
            "format": "float"
          },
          "boStopLossValue": {
            "type": "number",
            "description": "Bracket Order/Cover Order Stop Loss Price",
            "format": "float"
          }
        }
      },
      "KnowYourMarginReq": {
        "required": [
          "exchangeSegment",
          "transactionType"
        ],
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "exchangeSegment": {
            "type": "string",
            "description": "| **Enums**    | **Exchange** | **Segment**       |\n|--------------|--------------|-------------------|\n| NSE_EQ       | NSE          | Equity Cash       |\n| NSE_FNO      | NSE          | Futures & Options |\n| BSE_EQ       | BSE          | Equity Cash       |\n| BSE_FNO      | BSE          | Futures & Options |\n| MCX_COMM     | MCX          | Commodity         |\n",
            "enum": [
              "NSE_EQ",
              "NSE_FNO",
              "BSE_EQ",
              "BSE_FNO",
              "MCX_COMM"
            ]
          },
          "transactionType": {
            "type": "string",
            "description": "Signifies the type of transaction whether it's BUY or SELL",
            "enum": [
              "BUY",
              "SELL"
            ]
          },
          "quantity": {
            "type": "integer",
            "description": "Number of shares for the order",
            "format": "int32"
          },
          "productType": {
            "type": "string",
            "description": "| **Enum Values** | **Description**                                |\n|-----------------|------------------------------------------------|\n| CNC             | Cash & Carry for equity deliveries             |\n| INTRADAY        | Intraday for Equity, Futures & Options         |\n| MARGIN          | Carry Forward in Futures & Options             |\n| CO              | Cover Order; entry and stop loss               |\n| BO              | Bracket Order; entry, stop loss & target price |\n**CO & BO product types will be valid only for Intraday**",
            "enum": [
              "CNC",
              "INTRADAY",
              "MARGIN",
              "MTF",
              "CO",
              "BO"
            ]
          },
          "securityId": {
            "type": "string",
            "description": "Exchange standard identification for each scrip"
          },
          "price": {
            "type": "number",
            "description": "Price at which the order is requested to execute",
            "format": "float"
          },
          "triggerPrice": {
            "type": "number",
            "description": "Price at which the order is requested to trigger",
            "format": "float"
          }
        }
      },
      "KnowYourMarginResponse": {
        "type": "object",
        "properties": {
          "totalMargin": {
            "type": "number",
            "description": "Total available margin to trade",
            "format": "float"
          },
          "spanMargin": {
            "type": "number",
            "description": "Available span margin",
            "format": "float"
          },
          "exposureMargin": {
            "type": "number",
            "description": "Available exposure margin",
            "format": "float"
          },
          "availableBalance": {
            "type": "number",
            "description": "Available balance to trade",
            "format": "float"
          },
          "variableMargin": {
            "type": "number",
            "description": "Variable margin",
            "format": "float"
          },
          "insufficientBalance": {
            "type": "number",
            "description": "Insufficient balance",
            "format": "float"
          },
          "brokerage": {
            "type": "number",
            "description": "Applicable brokerage",
            "format": "float"
          },
          "leverage": {
            "type": "string",
            "description": "Applicable leverage"
          }
        }
      },
      "MultiScripMarginCalcRequest": {
        "type": "object",
        "properties": {
          "includePosition": {
            "type": "boolean",
            "default": false
          },
          "includeOrder": {
            "type": "boolean",
            "default": false
          },
          "dhanClientId": {
            "type": "string"
          },
          "scripList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScriptItem"
            }
          }
        }
      },
      "ScriptItem": {
        "type": "object",
        "properties": {
          "exchangeSegment": {
            "type": "string",
            "enum": [
              "NSE_EQ",
              "NSE_FNO",
              "NSE_COMM",
              "BSE_EQ",
              "BSE_FNO",
              "MCX_COMM"
            ]
          },
          "transactionType": {
            "type": "string",
            "enum": [
              "BUY",
              "SELL"
            ]
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "productType": {
            "type": "string",
            "enum": [
              "CNC",
              "INTRADAY",
              "MARGIN",
              "MTF",
              "CO",
              "BO"
            ]
          },
          "securityId": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "triggerPrice": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "MultiScripMarginCalcResponse": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string"
          },
          "totalMargin": {
            "type": "number",
            "format": "double"
          },
          "spanMargin": {
            "type": "number",
            "format": "double"
          },
          "exposure": {
            "type": "number",
            "format": "double"
          },
          "equityMargin": {
            "type": "number",
            "format": "double"
          },
          "foMargin": {
            "type": "number",
            "format": "double"
          },
          "commodity": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "KillSwitchResponse": {
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "killSwitchStatus": {
            "type": "string",
            "description": "| **Enum Values**   | **Description**        |\n|-------------------|------------------------|\n| ACTIVATE          | KillSwitch Activated   |\n| DEACTIVATE        | KillSwitch Deactivated |"
          }
        }
      },
      "GTTOrderModel": {
        "required": [
          "transactionType"
        ],
        "type": "object",
        "properties": {
          "dhanClientId": {
            "type": "string",
            "description": "User specific identification generated by Dhan"
          },
          "correlationId": {
            "maxLength": 30,
            "minLength": 0,
            "type": "string",
            "description": "The user/partner generated id for tracking back"
          },
          "orderFlag": {
            "type": "string",
            "description": "| **Enum Values**  | **Description**             |\n|------------------|-----------------------------|\n| SINGLE           | For GTT Order types       |\n| OCO              | For OCO Order types      |",
            "enum": [
              "SINGLE",
              "OCO"
            ]
          },
          "transactionType": {
            "type": "string",
            "description": "Signifies the type of transaction whether it's BUY or SELL",
            "enum": [
              "BUY",
              "SELL"
            ]
          },
          "exchangeSegment": {
            "type": "string",
            "description": "| **Enums**    | **Exchange** | **Segment**       |\n|--------------|--------------|-------------------|\n| NSE_EQ       | NSE          | Equity Cash       |\n| NSE_FNO      | NSE          | Futures & Options |\n| BSE_EQ       | BSE          | Equity Cash       |\n| BSE_FNO      | BSE          | Futures & Options |\n",
            "enum": [
              "NSE_EQ",
              "NSE_FNO",
              "BSE_EQ",
              "BSE_FNO"
            ]
          },
          "productType": {
            "type": "string",
            "description": "| **Enum Values** | **Description**                                |\n|-----------------|------------------------------------------------|\n| CNC             | Cash & Carry for equity deliveries             |\n| MTF             | Margin Traded Fund                             |\n| MARGIN          | Carry Forward in Futures & Options             |\n",
            "enum": [
              "CNC",
              "MTF",
              "MARGIN"
            ]
          },
          "orderType": {
            "type": "string",
            "description": "| **Enum Values**  | **Description**             |\n|------------------|-----------------------------|\n| LIMIT            | For Limit Order types       |\n| MARKET           | For market Order types      |",
            "enum": [
              "LIMIT",
              "MARKET"
            ]
          },
          "validity": {
            "type": "string",
            "description": "Valid for 1Year/Expiry"
          },
          "securityId": {
            "type": "string",
            "description": "Exchange standard identification for each scrip"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of shares for the order",
            "format": "int32"
          },
          "disclosedQuantity": {
            "type": "integer",
            "description": "Number of shares visible (Keep more than 30% of quantity)",
            "format": "int32"
          },
          "price": {
            "type": "number",
[...]
